In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Placement_updated.csv")

In [4]:
df.sample(10)

     Student_ID  CGPA  Internships Placed  Salary (INR LPA)
545         546  6.86            3     No              0.00
538         539  8.31            4    Yes             17.98
724         725  7.64            4     No              0.00
424         425  8.02            4     No              0.00
548         549  7.80            0    Yes             15.23
709         710  8.86            3    Yes             17.11
691         692  8.43            1    Yes             22.31
69           70  6.98            0    Yes             13.73
248         249  8.91            0    Yes             21.33
271         272  6.35            3    Yes             26.60

In [6]:
df = df.drop(columns=['Student_ID'])

In [7]:
df.head()

   CGPA  Internships Placed  Salary (INR LPA)
0  7.90            3    Yes             17.63
1  7.39            0    Yes             28.37
2  8.02            2    Yes              8.95
3  8.72            4    Yes             22.59
4  7.31            2    Yes             19.67

In [8]:

X = df[["CGPA", "Internships", "Salary (INR LPA)"]]
y = df["Placed"]

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [18]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(
    n_estimators=100,
    criterion="gini",
    random_state=42
)

rf.fit(X_train,y_train)

In [22]:
# Feature importance
importances = rf.feature_importances_

for f, imp in zip(X.columns, importances):
    print(f, ":", round(imp, 3))

CGPA : 0.037
Internships : 0.007
Salary (INR LPA) : 0.956