In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("Placement_updated.csv")

In [5]:
df.sample(10)

     Student_ID  CGPA  Internships Placed  Salary (INR LPA)
175         176  8.16            0     No              0.00
684         685  6.52            4    Yes              7.70
274         275  6.71            1    Yes             10.71
979         980  8.11            3    Yes             16.12
281         282  8.03            4    Yes             13.92
618         619  7.88            3    Yes             13.69
423         424  8.28            4    Yes             26.99
906         907  6.41            4     No              0.00
578         579  6.32            4    Yes             19.04
256         257  8.51            1    Yes             21.18

In [6]:
df = df.drop(columns=['Student_ID'])

In [7]:
df.head()

   CGPA  Internships Placed  Salary (INR LPA)
0  7.90            3    Yes             17.63
1  7.39            0    Yes             28.37
2  8.02            2    Yes              8.95
3  8.72            4    Yes             22.59
4  7.31            2    Yes             19.67

In [14]:
df['Placed'] = df['Placed'].map({'Yes': 1, 'No': 0})

In [15]:
X = df[["CGPA", "Internships","Placed" ]]
y = df["Salary (INR LPA)"]

In [16]:
print(X)

     CGPA  Internships  Placed
0    7.90            3       1
1    7.39            0       1
2    8.02            2       1
3    8.72            4       1
4    7.31            2       1
..    ...          ...     ...
995  7.28            2       1
996  8.94            3       1
997  8.01            0       1
998  7.04            2       1
999  7.96            1       0

[1000 rows x 3 columns]

In [19]:
print(y)

0      17.63
1      28.37
2       8.95
3      22.59
4      19.67
       ...
995     5.86
996    26.57
997    17.12
998    21.89
999     0.00
Name: Salary (INR LPA), Length: 1000, dtype: float64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

rf.fit(X_train,y_train)

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [27]:
rf = RandomForestRegressor(
    n_estimators=100,
    random_state=42
)
rf.fit(X_train, y_train)
# feature importance 
importances = rf.feature_importances_

for f, imp in zip(X.columns, importances):
    print(f, ":", round(imp, 3))

CGPA : 0.282
Internships : 0.084
Placed : 0.634

# From here we have clear that we have the important feature is placed for input Data which have more feature than other that means the if you plot the tree root node became the salary

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
rf = RandomForestClassifier(
    n_estimators=100,     # number of trees
    max_depth=5,          # depth of each tree
    min_samples_split=2,  # minimum samples to split
    max_features="sqrt",  # random feature selection
    bootstrap=True,       # enable bagging
    random_state=42
)

In [25]:
from sklearn.metrics import accuracy_score ,confusion_matrix ,classification_report

In [26]:
y_pred = rf.predict(X_test)

In [28]:
accuracy_score(y_test,y_pred)

1.0

In [29]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[ 62   0]
 [  0 138]]

In [31]:
#That means i got a absoulte zero error model using random forest

In [32]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00        62
         Yes       1.00      1.00      1.00       138

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

# Finally thank you !