In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Placement_updated.csv")

In [4]:
df.sample(10)

     Student_ID  CGPA  Internships Placed  Salary (INR LPA)
545         546  6.86            3     No              0.00
538         539  8.31            4    Yes             17.98
724         725  7.64            4     No              0.00
424         425  8.02            4     No              0.00
548         549  7.80            0    Yes             15.23
709         710  8.86            3    Yes             17.11
691         692  8.43            1    Yes             22.31
69           70  6.98            0    Yes             13.73
248         249  8.91            0    Yes             21.33
271         272  6.35            3    Yes             26.60

In [ ]:
df.drop['Student_ID']