In [1]:
import numpy as np
import pandas as pd

In [4]:
# load data
df = pd.read_csv("train.csv")

In [5]:
df.shape

(20000, 3)

In [6]:
df.sample(10)

          Id    height    weight
15945  15946  67.03849  124.7975
13690  13691  65.12147  132.9884
9397    9398  69.37684  131.7743
11587  11588  64.51430  127.8143
19971  19972  67.17593  141.6974
6607    6608  68.48007  129.8380
18815  18816  66.75944  112.3085
3728    3729  69.85972  137.5864
19243  19244  65.12247  118.1968
9929    9930  67.08814  133.7359

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      20000 non-null  int64
 1   height  20000 non-null  float64
 2   weight  20000 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 468.9 KB

In [8]:
df.describe()

                 Id        height        weight
count  20000.000000  20000.000000  20000.000000
mean   10000.500000     67.995227    127.097314
std     5773.647028      1.898964     11.657876
min        1.000000     60.612650     78.014760
25%     5000.750000     66.708220    119.333950
50%    10000.500000     67.998055    127.159050
75%    15000.250000     69.264955    134.873125
max    20000.000000     75.152800    170.547900

In [9]:
# using pandas profiling 
import pandas as pd
from ydata_profiling import ProfileReport

df = pd.read_csv("train.csv")

profile = ProfileReport(df, title="Profiling Report", explorative=True)
profile.to_file("report.html")

SyntaxError: invalid syntax (2481518854.py, line 1)