In [23]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv("heart_disease_uci.csv")

In [25]:
df.head(10)

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
5,6,56,Male,Cleveland,atypical angina,120.0,236.0,False,normal,178.0,False,0.8,upsloping,0.0,normal,0
6,7,62,Female,Cleveland,asymptomatic,140.0,268.0,False,lv hypertrophy,160.0,False,3.6,downsloping,2.0,normal,3
7,8,57,Female,Cleveland,asymptomatic,120.0,354.0,False,normal,163.0,True,0.6,upsloping,0.0,normal,0
8,9,63,Male,Cleveland,asymptomatic,130.0,254.0,False,lv hypertrophy,147.0,False,1.4,flat,1.0,reversable defect,2
9,10,53,Male,Cleveland,asymptomatic,140.0,203.0,True,lv hypertrophy,155.0,True,3.1,downsloping,0.0,reversable defect,1

In [26]:
df.isnull().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [28]:
df.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,861.000000,890.000000,865.000000,858.000000,309.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,19.066070,110.780810,25.926276,1.091226,0.935653,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,175.000000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,223.000000,140.000000,0.500000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,268.000000,157.000000,1.500000,1.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [29]:
df.corr

<bound method DataFrame.corr of       id  age     sex        dataset               cp  trestbps   chol    fbs  \
0      1   63    Male      Cleveland   typical angina     145.0  233.0   True
1      2   67    Male      Cleveland     asymptomatic     160.0  286.0  False
2      3   67    Male      Cleveland     asymptomatic     120.0  229.0  False
3      4   37    Male      Cleveland      non-anginal     130.0  250.0  False
4      5   41  Female      Cleveland  atypical angina     130.0  204.0  False
..   ...  ...     ...            ...              ...       ...    ...    ...
915  916   54  Female  VA Long Beach     asymptomatic     127.0  333.0   True
916  917   62    Male  VA Long Beach   typical angina       NaN  139.0  False
917  918   55    Male  VA Long Beach     asymptomatic     122.0  223.0   True
918  919   58    Male  VA Long Beach     asymptomatic       NaN  385.0   True
919  920   62    Male  VA Long Beach  atypical angina     120.0  254.0  False

              restecg  thalch  exang  oldpeak        slope   ca  \
0      lv hypertrophy   150.0  False      2.3  downsloping  0.0
1      lv hypertrophy   108.0   True      1.5         flat  3.0
2      lv hypertrophy   129.0   True      2.6         flat  2.0
3              normal   187.0  False      3.5  downsloping  0.0
4      lv hypertrophy   172.0  False      1.4    upsloping  0.0
..                ...     ...    ...      ...          ...  ...
915  st-t abnormality   154.0  False      0.0          NaN  NaN
916  st-t abnormality     NaN    NaN      NaN          NaN  NaN
917  st-t abnormality   100.0  False      0.0          NaN  NaN
918    lv hypertrophy     NaN    NaN      NaN          NaN  NaN
919    lv hypertrophy    93.0   True      0.0          NaN  NaN

                  thal  num
0         fixed defect    0
1               normal    2
2    reversable defect    1
3               normal    0
4               normal    0
..                 ...  ...
915                NaN    1
916                NaN    0
917       fixed defect    2
918                NaN    0
919                NaN    1

[920 rows x 16 columns]>

# Data Cleaning

In [30]:
df.drop(columns=['id'], inplace=True) # droping the id because the id are identical

In [31]:
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

In [32]:
df['target'] = (df['num'] > 0).astype(int)

In [33]:
df['sex'] = df['sex'].map({'Male': 1, 'Female': 0}) # Encoding

In [34]:
# one hot Encoding 
cat_cols = df.select_dtypes(include='object').columns
df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [35]:
# drpoing the old column 
df.drop(columns=['num'], inplace=True)

In [36]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'thalch', 'oldpeak', 'ca', 'target',
       'dataset_Hungary', 'dataset_Switzerland', 'dataset_VA Long Beach',
       'cp_atypical angina', 'cp_non-anginal', 'cp_typical angina', 'fbs_True',
       'restecg_normal', 'restecg_st-t abnormality', 'exang_True',
       'slope_flat', 'slope_upsloping', 'thal_normal',
       'thal_reversable defect'],
      dtype='object')

In [37]:
df.sample(10)

,age,sex,trestbps,chol,thalch,oldpeak,ca,target,dataset_Hungary,dataset_Switzerland,...,cp_non-anginal,cp_typical angina,fbs_True,restecg_normal,restecg_st-t abnormality,exang_True,slope_flat,slope_upsloping,thal_normal,thal_reversable defect
901,55,1,NaN,NaN,NaN,NaN,NaN,0,False,False,...,True,False,False,False,True,False,False,False,False,False
23,58,1,132.0,224.0,173.0,3.2,2.0,1,False,False,...,True,False,False,False,False,False,False,True,False,True
660,57,1,105.0,0.0,148.0,0.3,NaN,1,False,True,...,True,False,False,True,False,False,True,False,False,False
621,48,1,115.0,0.0,128.0,0.0,NaN,1,False,True,...,False,False,False,True,False,False,True,False,False,False
884,51,1,NaN,NaN,NaN,NaN,NaN,1,False,False,...,False,False,True,False,False,False,False,False,False,True
7,57,0,120.0,354.0,163.0,0.6,0.0,0,False,False,...,False,False,False,True,False,True,False,True,True,False
876,64,1,150.0,193.0,135.0,0.5,NaN,1,False,False,...,False,False,False,False,True,True,True,False,False,False
20,64,1,110.0,211.0,144.0,1.8,0.0,0,False,False,...,False,True,False,False,False,True,True,False,True,False
431,52,1,140.0,100.0,138.0,0.0,NaN,0,True,False,...,False,False,False,True,False,True,False,False,False,False
467,55,1,120.0,270.0,140.0,0.0,NaN,0,True,False,...,False,False,False,True,False,False,False,False,False,False