In [1]:
import pandas as pd
df = pd.read_csv("akinator_data.csv")

In [4]:
df.head()

,character,real,fictional,male,female,movie,tv,anime,sports,politics,music,scientist,alive,superpower,villain,animated
0,Messi,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
1,Ronaldo,0,1,0,1,1,0,0,1,1,1,0,0,1,0,0
2,Einstein,1,0,1,1,1,0,1,0,1,0,1,1,0,0,0
3,Newton,0,1,0,0,0,1,1,1,1,0,1,1,0,1,0
4,Tesla,0,0,0,1,1,1,0,1,0,0,0,1,1,1,0